# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# Git
.git/
.gitignore

# VSCode
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db